<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Form Submission</title>
    <link rel="stylesheet" href="/submit.css" />
  </head>
  <body>
    <div class="content">
      <h1>Form Submission Successful</h1>
      <p>Book Title: <%= title %></p>
      <p>Author Name: <%= author %></p>
      <p>Year Published: <%= year %></p>

      <p>Genre(s): <%= genre.join(", ") %></p>
      <a href="/"> <button type="button">Home</button></a>
      <%-include("footer.ejs")%>
    </div>
  </body>
</html>
